body{
    background-color: bisque;
}
/*changing color of header bg */
header{
    background-color:rgb(139, 193, 193) e;
    padding:  20px;
    margin: 20px;
}

p{
    color: blueviolet;
}
h1,h2,h3{
    text-decoration: underline;
}
section p{
    border: 2px solid black;

}
/*using id to target an element */
#aboutus{
    background-color: azure;
}
/*using class to target an element */
.imp-para{
    /*text-transform:uppercase;*/
    background-color: gold
    (41, 10, 21);
    color: gold;
}
section ul li:nth-child(odd){
    background-color: lightblue;
}
