body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
;
    color: black;
}

header,
footer {
    background-color: brown;
    padding: 20px;
    text-align: center;
}

.site-title {
    color: blue;
}

#my-image {
    width: 200px;
    box-shadow: 0 0 2px 1px black;
    margin-top: 15px;
}

.hobby-list {
    list-style-type: square;
}

.hobby-list li:nth-child(odd) {
    background-color: green;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: purple;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    background-color: orange;
    border: 2px solid blue;
    padding: 8px 15px;
    color: black;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: green;
}
